<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{style}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/7eddd731f6.js" crossorigin="anonymous"></script>
    <title>ClosetVR</title>
</head>
<body>
  <div class="nav-bar">
        <div class="logo">
            <h1>ClosetVR</h1>
        </div>
         <ul class="nav-nav">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="integrantes.html">Integrantes</a></li>  
            <li>
                <div class="dropdown">
                    <a href="#" class="dropdown">
                        Sobre nosotros <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <ul class="list-down"> <!-- para los dropdown les recomiendo usar divs-->
                        <li><a href="semestre1.html">Semestre 1</a></li>
                        <li><a href="semestre2.html">Semestre 2</a></li>
                        <li><a href="#">Semestre 3</a></li>
                        <li><a href="#">Semestre 4</a></li>
                        <li><a href="#">Semestre 5</a></li>
                        <li><a href="#">Semestre 6</a></li>
                    </ul>
                </div>  
            </li>
            <li> <a href="loginsignup.html" class="login-btn"> Login</a></li>
        </ul>
  </div>
{{{body}}}
    <footer>
        <span>©Todos los derechos reservados ClosetVR</span>
    </footer>
    <script src="/app/js/load.js"></script>
</body>
</html>